.board {
	--square-length: 50px;
	--square-border: 1px solid black;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;
}

.square {
	height: var(--square-length);
	width: var(--square-length);

	display: flex;
	align-items: center;
	justify-content: center;
}

.square[data-square-value="X"] {
	background-image: url("/PlayerIcons/X.png");
	background-size: 50px;
	pointer-events: none;
}

.square[data-square-value="O"] {
	background-image: url("/PlayerIcons/O.png");
	background-size: 50px;
	pointer-events: none;
}

.square[data-current-player="X"]:hover {
	background-image: url("/PlayerIcons/X.png");
	background-size: 50px;
}

.square[data-current-player="O"]:hover {
	background-image: url("/PlayerIcons/O.png");
	background-size: 50px;
}

.row1 .square:nth-child(1) {
	border-right: var(--square-border);
	border-bottom: var(--square-border);
}

.row1 .square:nth-child(2) {
	border-top: var(--square-border);
	border-right: var(--square-border);
	border-bottom: var(--square-border);
}

.row1 .square:nth-child(3) {
	border-top: var(--square-border);
	border-right: var(--square-border);
}

.row2 .square:nth-child(1) {
	border-left: var(--square-border);
	border-right: var(--square-border);
	border-bottom: var(--square-border);
}

.row2 .square:nth-child(2) {
	border-top: var(--square-border);
	border-left: var(--square-border);
	border-right: var(--square-border);
	border-bottom: var(--square-border);
}

.row2 .square:nth-child(3) {
	border-top: var(--square-border);
	border-left: var(--square-border);
	border-right: var(--square-border);
}

.row3 .square:nth-child(1) {
	border-left: var(--square-border);
	border-bottom: var(--square-border);
}

.row3 .square:nth-child(2) {
	border-top: var(--square-border);
	border-left: var(--square-border);
	border-bottom: var(--square-border);
}

.row3 .square:nth-child(3) {
	border-top: var(--square-border);
	border-left: var(--square-border);
}
